.event-img {
  min-width: 100%;
  height: 200px;
  border-radius: 10px;
  margin: auto;
  display: block;
  object-fit: cover;
}

.event-details-info {
  display: grid;
  grid-template-columns: 10% 1fr;
  row-gap: 5px;
}

.btn {
  font-family: 'Roboto', sans-serif !important;
}

.desc-box h5 {
  font-size: 16px;
}

.desc-box p {
  font-size: 14px;
}
