.filter-bar {
  background-color: white;
  border-color: #07ade1;
  width: 100%;
  padding: 0.5rem 0.75rem;
  cursor: text;
}

.filter-bar-text {
  color: #07ade1;
  font-size: 14px;
  line-height: 16px;
}

.advanced-search-modal {
  width: 90%;
  margin: auto;
}

.family-button-group button {
  width: 5.5rem;
  font-weight: 500;
}
