.option-icon {
  position: absolute;
  top: -1.25rem;
  right: 10px;
}

.event-card {
  border-color: white;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

a:focus,
a:active {
  text-decoration: none;
}
