.event-module-heading {
  color: #0e516d !important;
  font-size: 28px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

.transport-checkbox {
  height: 25px !important;
  margin-top: 0px;
}

.general-buttonContainer--flexContainer {
  display: flex;
  justify-content: space-between;
}

.general-button--width {
  width: 150px;
}
