.filter-button {
  width: max-content;
  height: 33px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
}

.filter-display-text {
  color: #07ade1;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.filter-option {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.selected-filter-option {
  background-color: var(--primary);
  color: #ffffff;
  border-color: var(--primary);
}
